.piccolo {
    font-size: small;
}

h1 {
    text-align: center;
    background-color: blanchedalmond;
}

.conteiner {
    text-align: center;
    width: 50%;
   margin-left: auto;
   margin-right: auto;
}

.dettaglio {
    color: rgb(224, 8, 8);
}
header {
    text-align: center;
}